/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.img-fluid{
  max-width: 50px;
  max-height: 50px;
}

.icon-button {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.delete-button {
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
}

.delete-button::before {
  content: '\2022';
  font-size: 13.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.delete-button:hover::before {
  opacity: 0.05;
  margin-top: 5px;
}


