/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.img-fluid{
  max-width: 50px;
  max-height: 50px;
}


.icon-button {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 8px; /* Ajusta el espacio entre los botones según tus preferencias */
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.delete-button {
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
}

.delete-button::before {
  content: '\2022'; /* Código Unicode para un círculo */
  font-size: 13.8rem; /* Ajusta el tamaño según tus preferencias */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem; /* Ajusta el ancho del círculo según tus preferencias */
  height: 1.5rem; /* Ajusta la altura del círculo según tus preferencias */
  border-radius: 50%; /* Hace que la forma sea un círculo perfecto */
  background-color: rgb(241, 241, 241); /* Ajusta el color y la opacidad según tus preferencias */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s ease; /* Agregamos una transición para suavizar el efecto */
}

.delete-button:hover::before {
  opacity: 0.05; /* Mostrar la sombra al pasar el ratón por encima */
  margin-top: 5px; /* Ajusta el valor para bajar la sombra */
}


